@media all and (min-width: 1024px) and (max-width: 1280px) {}



@media all and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100vw;
    }

    .tutorial-card {
        border: 0px solid;
        /* width: 40%; */
        padding: 13px 13px 20px 13px;
        cursor: pointer;
        /* margin-left: 20px; */
        display: grid;
        border-radius: 10px;
        height: auto;
        -webkit-box-shadow: rgba(255, 87, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        box-shadow: rgba(255, 87, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .lang_sidebar {

        width: 20vw;
        /* border: 2px solid black; */
        position: fixed;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100%;
    }


    .content_box {
        max-width: 80vw;
        margin-left: 20vw;
        box-sizing: border-box;
        padding-left: .5em;

        /* transform: translate(15vw); */
        /* border: 2px solid black; */
    }


}

@media all and (min-width: 480px) and (max-width: 768px) {


    .tutorial-card {
        border: 0px solid;
        width: 40%;
        padding: 13px 13px 20px 13px;
        cursor: pointer;
        /* margin-left: 20px; */
        display: grid;
        border-radius: 10px;
        height: auto;
        -webkit-box-shadow: rgba(255, 87, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        box-shadow: rgba(255, 87, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }

    .tutorial-card-container {
        width: 100%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2vw;
    }
}

@media all and (max-width: 480px) {

    .tutorial-section {
        margin-left: 1px;
        padding-left: 0;
    }

    .tutorial-card-container {
        width: 100%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .container {
        width: 100vw;
    }

    .tutorial-card-section {
        width: 100%;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
    }

    .tutorial-card {
        border: 0px solid;
        width: 80%;
        padding: 13px 13px 20px 13px;
        cursor: pointer;
        /* margin-left: 20px; */
        display: grid;
        border-radius: 10px;
        height: auto;
        -webkit-box-shadow: rgba(255, 87, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        box-shadow: rgba(255, 87, 36, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}